gdm.conf
GiveConsole
kdm3.conf
kdm.conf
TakeConsole
x11-Xresources
Xaccess
xdm.conf
xdm-config
xdm-Xreset
xdm-Xsession
xdm-Xstartup
XIM.xinit
xinitrc-fixkeyboard
xinitrc-RunWM
xinitrc-Xclients
xinitrc-XIM
xinitrc-xinitrc
xinitrc-Xmodmap
Xresources
Xservers
Xsession
Xsetup_0
Xwilling
